.role-assignment-container {
  text-align: center;
  margin: 20px;
}

.action-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.action-button:hover {
  background-color: #2980b9;
}

.role-list {
  list-style: none;
  padding: 0;
}

.role-list li {
  margin: 5px 0;
  font-size: 16px;
}
